@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Name: custom color palette
       Author: Ilias Ism
       URL: https://gradient.page */

    /* CSS: .bg-gradient { background: var(--gradient) } */
    --gradient: linear-gradient(to top left, #da22ff, #9733ee);

    --background: 308 65% 4.56%;
    --foreground: 308 10% 97.85%;

    --muted: 308 50% 17.099999999999998%;
    --muted-foreground: 308 10% 55.7%;

    --popover: 308 45% 7.409999999999999%;
    --popover-foreground: 308 10% 97.85%;

    --card: 308 45% 7.409999999999999%;
    --card-foreground: 308 10% 97.85%;

    --border: 308 50% 17.099999999999998%;
    --input: 308 50% 17.099999999999998%;

    --primary: 308 100% 57%;
    --primary-foreground: 308 10% 5.699999999999999%;

    --secondary: 308 50% 17.099999999999998%;
    --secondary-foreground: 308 10% 97.85%;

    --accent: 308 50% 17.099999999999998%;
    --accent-foreground: 308 10% 97.85%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 308 10% 97.85%;

    --ring: 308 100% 57%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .homeContainer {
    grid-template-areas:
      'select select'
      'countdown sidebar'
      'table sidebar';
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .homeSelect {
    grid-area: select;
  }
  .homeTable {
    grid-area: table;
  }
  .homeSidebar {
    grid-area: sidebar;
  }
  .homeCountdown {
    grid-area: countdown;
  }
  .shadowCustom {
    box-shadow: 0 0 20px hsl(270, 75%, 15%), 0 0 1px hsl(285, 75%, 15%) !important;
  }
  .bg-gradient {
    background: var(--gradient);
  }
}
